@inherits LayoutComponentBase

<div class="mainlayout-bg">
    <div class="page">
        <main>
            <NavMenu />
            <article class="content mainlayout-content" style="margin-top: 70px;">
                @Body
            </article>
        </main>
    </div>
</div>
