@page "/"

@if (!string.IsNullOrWhiteSpace(StatusMessage))
{
    <div class="alert alert-@Status d-flex align-items-center" role="alert">
        <i class="fa fa-info-circle me-2"></i>
        <span>@StatusMessage</span>
    </div>
}

<SectionContent SectionName="page-buttons">
    <div id="searchBox" class="input-group header-search" style="display:none;">
        <span class="input-group-text text-warning"><i class="fa fa-search"></i></span>
        <span class="input-group-text" onclick="hideSearchBox()"><i class="fa fa-times"></i></span>
    </div>
    <span id="controlBox">
        <button class="btn text-warning" onclick="showSearchBox()">
            <i class="fa fa-search"></i>
        </button>
    </span>
</SectionContent>
<section>
    <h1>Welcome</h1>
</section>
<script>
    function showSearchBox(){
        $('#searchBox').show();
        $('#controlBox').hide();
    }
    function hideSearchBox(){
        $('#searchBox').hide();
        $('#controlBox').show();
    }
</script>